include MANIFEST.in
include *.txt

# Header files
include cxx/tomographerpy/*.h
# Sources
include cxx/*.h
include cxx/*.cxx

# doesn't work
# include ../tomographer/*/*.h
# include ../tomographer/*.h
