include tomographer/include/tomographerpy/*.h
include tomographer/include/tomographer/*.h
include tomographer/include/tomographer/*/*.h
include MANIFEST.in LICENSE.txt README.md
include cxx/*.cxx cxx/*.h
include setup.py
