{% assign pagelist = site.pages | sort:"name" %}
{% for p in pagelist %}
  {% if p.title %}
    <li {% if p.url == page.url %}class="active"{% endif %}><a href="{{ p.url | prepend: site.baseurl }}">{{ navbar_item_prepend }}{{ p.title }}{% if p.url == page.url %} <span class="sr-only">(current)</span>{% endif %}</a></li>
  {% endif %}
{% endfor %}
<!-- <li><a href="{{ site.baseurl }}/api-doc/{{ site.tomographer_apidoc_version }}/html/" target="_blank">{{ navbar_item_prepend }}API Docs</a></li> -->
<li><a href="http://dx.doi.org/10.1103/PhysRevLett.117.010404" target="_blank">{{ navbar_item_prepend }}<span class="shorttitle">PRL</span><span class="longtitle">paper (Physical Review Letters)</span></a></li>
<li><a href="https://arxiv.org/abs/1509.06763" target="_blank">{{ navbar_item_prepend }}<span class="shorttitle">arXiv</span><span class="longtitle">arXiv:1509.06763</span></a></li>
<li><a href="https://github.com/Tomographer/tomographer/" target="_blank">{{ navbar_item_prepend }}on github.com</a></li>
