
.layout-default {

    .jumbotron {
        background-color: rgba(255,255,255,0.2);

        text-shadow: 3px 3px 5px rgba(0,0,0,.5);
    }

    @media screen and (max-height: 480px) {
        .header-jumbotron {
            display: none;
        }
    }

}
