
/* see http://cm-unicode.sourceforge.net/ */ 

@font-face {
    font-family: CMUBright;
    font-weight: normal;
    font-style: normal;
    src: url(#{$baseurl}/cm-unicode-0.6.3a/cmunbmr.otf);
}
@font-face {
    font-family: CMUBright;
    font-weight: bold;
    font-style: normal;
    src: url(#{$baseurl}/cm-unicode-0.6.3a/cmunbbx.otf);
}
@font-face {
    font-family: CMUBright;
    font-weight: normal;
    font-style: italic;
    src: url(#{$baseurl}/cm-unicode-0.6.3a/cmunbmo.otf);
}
@font-face {
    font-family: CMUBright;
    font-weight: 600;
    font-style: normal;
    src: url(#{$baseurl}/cm-unicode-0.6.3a/cmunbsr.otf);
}
@font-face {
    font-family: CMUBright;
    font-weight: 600;
    font-style: italic;
    src: url(#{$baseurl}/cm-unicode-0.6.3a/cmunbso.otf);
}
@font-face {
    font-family: CMUBright;
    font-weight: bold;
    font-style: italic;
    src: url(#{$baseurl}/cm-unicode-0.6.3a/cmunbxo.otf);
}


/* -------------------- */ 

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    font-size: 100.01%;
}

body {
    font-family: CMUBright, "CMU Sans Bright", sans-serif;
    background-color: black;
}


a, a:link, a:active, a:visited {
    color: $default-a-color;
    text-decoration: none;
}
a:hover {
    color: $default-a-hover-color;
    text-decoration: none;
}



.header-jumbotron {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
}

.site-wrapper {
    min-height: 100%;

    color: $default-text-color;
    background-image: url(#{$baseurl}/boom.jpg) /*url(gold.jpg)*/;
    background-repeat: no-repeat;
    background-position: 25% 0%;
    background-color: black;

    font-size: 1.15em;

    text-shadow: 2px 2px 3px rgba(0,0,0,.4);
}

h1, h2, h3, h4, h5, h6 {
    color: $highlight-text-color;
}
.jumbotron {
    h1, h2, h3, h4, h5, h6 {
        color: $highlight-text-color;
    }
}


@media screen and (min-height: 480px) {
.site-wrapper-content {
    margin-top: 2em;
}
}
@media screen and (max-height: 480px) {
.site-wrapper-content {
    margin-top: 1em;
}
}

.site-wrapper-content {
    padding-bottom: 2em;
}

@media screen and (min-width: 940px) {
    .site-wrapper-content {
        padding-right: 20%;
    }
}

//
// Default style of content items.
// 
.site-wrapper-content {
    h1 {
        border-bottom: solid 1px $default-text-color;
    }
    h1 {
        margin-top: 30pt;
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    h2 {
        margin-top: 30pt;
        font-size: 1.6em;
    }
    h3 {
        font-size: 1em;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 0.8em;
    }
    h3::after {
        content: ':';
    }

    p, ul, pre {
        margin-bottom: 1em;
    }

    .auto-toc {
        margin-bottom: 1.5em;

        a {
            color: $home-a-color;
            &:hover {
                color: $home-a-hover-color;
            }
        }
        
        ul, p {
            margin-bottom: 0em;
        }
        li {
            font-size: 0.95em;
        }
    }
    @media (max-height: 480px) {
        .auto-toc { display: none; }
    }

    blockquote {
        font-size: inherit;
        padding: 0px 1em;
        margin: 0px 0px 1em 0px;
        color: $dim-text-color;
        border-left: 3px solid $dim-text-color;
        border-top: 0px none;
        border-right: 0px none;
        border-bottom: 0px none;
    }

    code {
        padding: 2px 4px;
        font-size: 0.85em;
        border-radius: 3px;
        color: $pre-text-color;
        background-color: $pre-bg-color;
    }

    pre, div.highlighter-rouge {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 0.9em;
        white-space: pre;
    }
    div.highlighter-rouge, code, kbd, pre, samp {
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    }

    pre, div.highlighter-rouge {
        border-radius: 3px;
        color: $pre-text-color;
        background-color: $pre-bg-color;
        border: $pre-border;
        font-size: 0.9em;
        
        > code {
            padding: 0px;
            background-color: transparent;
            color: inherit;
        }
    }
}




// My Navbar
.my-navbar {
  background-color: $my-navbar-bg;
  border-top: $my-navbar-border;
  border-bottom: $my-navbar-border;
  border-left: none 0px;
  border-right: none 0px;
  border-radius: 0px;
  text-shadow: $my-navbar-text-shadow;

  &.navbar {
      margin-bottom: 0px;
  }

  .navbar-brand {
    font-size: inherit;
    color: $my-navbar-brand-color;
    background-color: $my-navbar-brand-bg;
    &:hover,
    &:focus {
      color: $my-navbar-brand-hover-color;
      background-color: $my-navbar-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $my-navbar-text-color;
  }

  .navbar-nav {
    > li > a {
      color: $my-navbar-link-color;

      &:hover,
      &:focus {
        color: $my-navbar-link-hover-color;
        background-color: $my-navbar-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $my-navbar-link-active-color;
        background-color: $my-navbar-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $my-navbar-link-disabled-color;
        background-color: $my-navbar-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $my-navbar-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $my-navbar-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $my-navbar-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $my-navbar-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $my-navbar-link-active-bg;
        color: $my-navbar-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $my-navbar-link-color;
          &:hover,
          &:focus {
            color: $my-navbar-link-hover-color;
            background-color: $my-navbar-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $my-navbar-link-active-color;
            background-color: $my-navbar-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $my-navbar-link-disabled-color;
            background-color: $my-navbar-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $my-navbar-link-color;
    &:hover {
      color: $my-navbar-link-hover-color;
    }
  }

  .btn-link {
    color: $my-navbar-link-color;
    &:hover,
    &:focus {
      color: $my-navbar-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $my-navbar-link-disabled-color;
      }
    }
  }

  .longtitle {
      display: none;
  }
}


