
/* see http://cm-unicode.sourceforge.net/ */ 

@font-face {
    font-family: CMUBright;
    font-weight: normal;
    font-style: normal;
    src: url(#{$baseurl}/cm-unicode-0.6.3a/cmunbmr.otf);
}
@font-face {
    font-family: CMUBright;
    font-weight: bold;
    font-style: normal;
    src: url(#{$baseurl}/cm-unicode-0.6.3a/cmunbbx.otf);
}
@font-face {
    font-family: CMUBright;
    font-weight: normal;
    font-style: italic;
    src: url(#{$baseurl}/cm-unicode-0.6.3a/cmunbmo.otf);
}
@font-face {
    font-family: CMUBright;
    font-weight: 600;
    font-style: normal;
    src: url(#{$baseurl}/cm-unicode-0.6.3a/cmunbsr.otf);
}
@font-face {
    font-family: CMUBright;
    font-weight: 600;
    font-style: italic;
    src: url(#{$baseurl}/cm-unicode-0.6.3a/cmunbso.otf);
}
@font-face {
    font-family: CMUBright;
    font-weight: bold;
    font-style: italic;
    src: url(#{$baseurl}/cm-unicode-0.6.3a/cmunbxo.otf);
}


/* -------------------- */ 

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    font-size: 100.01%;
}

body {
    font-family: CMUBright, "CMU Sans Bright", sans-serif;
    background-color: black;
}


a, a:link, a:active, a:visited {
    color: $default-a-color;
    text-decoration: none;
}
a:hover {
    color: $default-a-hover-color;
    text-decoration: none;
}



.header-jumbotron {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
}

.site-wrapper {
    min-height: 100%;

    color: $default-text-color;
    background-image: url(#{$baseurl}/boom.jpg) /*url(gold.jpg)*/;
    background-repeat: no-repeat;
    background-position: 25% 0%;
    background-color: black;

    font-size: 1.15em;

    text-shadow: 2px 2px 3px rgba(0,0,0,.4);
}

h1, h2, h3, h4, h5, h6 {
    color: $highlight-text-color;
}
.jumbotron {
    h1, h2, h3, h4, h5, h6 {
        color: $highlight-text-color;
    }
}


@media screen and (min-height: 480px) {
.site-wrapper-content {
    margin-top: 2.5em;
}
}
@media screen and (max-height: 480px) {
.site-wrapper-content {
    margin-top: 1em;
}
}



// we should integrate directly the SASS bootstrap, not monkey-patch like hell....  :(
// ===================================================================================

// Large screen / wide desktop
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

//== Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//== Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum'
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//== Number of columns in the grid.
$grid-columns:              12 !default;
//== Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//== Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//== Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


// --------------------------------

$my-navbar-color:             rgb(255,255,255);
$my-navbar-bg:                rgba(255,255,255,0.3);
$my-navbar-border:            darken($my-navbar-bg, 6.5%);

// Navbar links
$my-navbar-link-color:                #fbe5ff;
$my-navbar-link-hover-color:          $default-a-hover-color;/*#474048;*/
$my-navbar-link-hover-bg:             transparent;/*$default-a-hover-color;*/
$my-navbar-link-active-color:         #474048;
$my-navbar-link-active-bg:            darken($my-navbar-bg, 6.5%) !default;
$my-navbar-link-disabled-color:       #ccc !default;
$my-navbar-link-disabled-bg:          transparent;

// Navbar brand label
$my-navbar-brand-color:               white;
$my-navbar-brand-bg:                  transparent;/*#504049;*/
$my-navbar-brand-hover-color:         $my-navbar-link-hover-color;
$my-navbar-brand-hover-bg:            $my-navbar-link-hover-bg;/*#504049;*/

// Navbar toggle
$my-navbar-toggle-hover-bg:           #ddd !default;
$my-navbar-toggle-icon-bar-bg:        #888 !default;
$my-navbar-toggle-border-color:       #ddd !default;




// Default navbar
.my-navbar {
  background-color: $my-navbar-bg;
  border-color: $my-navbar-border;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);

  .navbar-brand {
    color: $my-navbar-brand-color;
    background-color: $my-navbar-brand-bg;
    &:hover,
    &:focus {
      color: $my-navbar-brand-hover-color;
      background-color: $my-navbar-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $my-navbar-color;
  }

  .navbar-nav {
    > li > a {
      color: $my-navbar-link-color;

      &:hover,
      &:focus {
        color: $my-navbar-link-hover-color;
        background-color: $my-navbar-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $my-navbar-link-active-color;
        background-color: $my-navbar-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $my-navbar-link-disabled-color;
        background-color: $my-navbar-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $my-navbar-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $my-navbar-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $my-navbar-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $my-navbar-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $my-navbar-link-active-bg;
        color: $my-navbar-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $my-navbar-link-color;
          &:hover,
          &:focus {
            color: $my-navbar-link-hover-color;
            background-color: $my-navbar-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $my-navbar-link-active-color;
            background-color: $my-navbar-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $my-navbar-link-disabled-color;
            background-color: $my-navbar-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $my-navbar-link-color;
    &:hover {
      color: $my-navbar-link-hover-color;
    }
  }

  .btn-link {
    color: $my-navbar-link-color;
    &:hover,
    &:focus {
      color: $my-navbar-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $my-navbar-link-disabled-color;
      }
    }
  }
}
