<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="layout-default">

    <div class="site-wrapper">

    <div class="jumbotron header-jumbotron">

      <div class="container">
        <h1><span style="margin-right:0.5em">{% if page.displaytitle %}{{ page.displaytitle }}{% else %}{{ page.title }}{% endif %}</span>
        <!--  <small>&mdash;{{ site.title }}</small></h1> -->
      </div>

    </div>

    {% include navbar.html %}    

    <div class="container">
    <div class="row">
    <div class="site-wrapper-content col-md-12">

      {{ content }}

    </div>
    </div>
    </div>

    </div>

  </body>

</html>
